<div class="<%= message_color(message) %> rounded-2xl px-4 py-2 mb-2 text-s w-fit" id="<%= dom_id(message) %>">
  <div class="flex flex-row items-center">
    <div>
      <span class="inline-block font-bold text-sm"><%= message.user.handle %></span>
      <span class="inline-block ml-1 text-xs"><%= message.created_at.strftime("%l:%M%P") %></span>
    </div>
  </div>
  <div class="text-black w-full">
    <%= message.comment %>
  </div>
</div>
