<%= turbo_frame_tag dom_id(message), class: "flex #{converse(message)}" do %>
  <div class="<%= message_color(message) %> rounded-2xl px-4 py-2 mb-2 text-s w-fit" 
      id="<%= dom_id message %>">
    <span class="font-bold text-sm"><%= message.user.handle %></span>
    <span class="ml-1 text-xs">
      <%= message.created_at.strftime('%l:%M') %>
      <% if (current_user.nil? || message.user == current_user) %>
        <%= link_to "edit", edit_room_message_path(message.room, message) %>
      <% end %>
    </span>
    <div class="text-black">
      <%= message.comment %>
    </div>
  </div>
<% end %>