<%= turbo_frame_tag dom_id(message), class: "flex flex-row w-full", "data-sender": message.user.id do %>
  <div class="bg-purple text-indigo-900 rounded-2xl px-4 py-2 mb-2 text-s w-fit"
       style="max-width: 66%;"
       id="<%= dom_id(message) %>">
    <div class="flex flex-row items-center info-block">
        <span class="mr-2 text-xs action-block">
          <%= link_to "edit", edit_room_message_path(message.room, message) %>
        </span>

        <span class="font-bold text-sm"><%= message.user.handle %></span>
        <span class="ml-1 text-xs"><%= message.created_at.strftime("%l:%M%P") %></span>
    </div>
    <div class="text-black w-full">
      <%= message.comment %>
    </div>
  </div>
<% end %>
