<div class="text-center p-2 bg-purple-100 text-sm shadow-lg relative">
  <b class="uppercase"><%= @room.name %>:</b>
  <%= @room.description %>
</div>
<div class="height-calc max-w-screen-lg mx-auto bg-white">
  <div class="pl-4 pt-4 mr-4 flex flex-col-reverse overflow-y-scroll h-full">
    <div id="<%= dom_id(@room) %>" class="pt-4 mr-4 flex flex-col"
        data-controller="room"
        data-room-id-value=<%= @room.id %>>
      <%= render @room.messages %>
    </div>
  </div>
</div>
<div class="flex bg-gray-100 bg-opacity-90 w-full p-4 max-w-screen-lg mx-auto"
     data-controller="message">
  <%= text_field_tag(:comment, "",
    autocomplete: "off",
    placeholder: "Start a conversation",
    data: { reflex: "change->Message#create", room_id: @room.id },
    id: "new-comment",
    class: "rounded-full border p-3 flex-1 text-sm outline-none") %>
</div>
