<% content_for :custom_style do %>
[data-viewer="<%= current_user.id %>"] turbo-frame[data-sender="<%= current_user.id %>"] {
  text-align: right;
  align-self: flex-end;
  justify-content: flex-end;
}

[data-viewer="<%= current_user.id %>"] turbo-frame[data-sender="<%= current_user.id %>"] > div {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background: rgba(217,241,255,var(--tw-bg-opacity));
  color: rgba(30, 58, 138, var(--tw-text-opacity));
}

[data-viewer="<%= current_user.id %>"] turbo-frame[data-sender="<%= current_user.id %>"] .info-block {
  flex-direction: row-reverse;
}

[data-viewer="<%= current_user.id %>"] turbo-frame[data-sender="<%= current_user.id %>"] .info-block span {
  margin-left: 0.5rem;
  margin-right: 0rem;
}
<% end %>

  <%= turbo_stream_from @room %>
  <%= turbo_stream_from @room, current_user %>
  <div class="text-center p-2 bg-purple-100 text-sm shadow-lg relative">
    <b class="uppercase"><%= @room.name %>:</b>
    <%= @room.description %>
  </div>
  <div class="height-calc max-w-screen-lg mx-auto bg-white">
    <div class="pl-4 flex flex-col justify-end h-full">
      <div class="flex flex-col-reverse overflow-y-scroll h-full">
        <div id="messages" class="pt-4 mr-4 flex flex-col">
          <%= render @room.messages %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 bg-opacity-90 w-full p-4 max-w-screen-lg mx-auto">
  <%= form_with model: [@room, Message.new],
                data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" } do  |f| %>
    <div class="flex">
      <%= f.text_field(
        :comment,
        autocomplete: "off",
        placeholder: "Start a conversation",
        class: "ring-1 ring-gray-300 rounded-full border py-3 flex-1 text-sm outline-none px-4") %>
    </div>
  <% end %>
</div>
