<div class="text-center p-2 bg-gray-100 text-sm shadow-lg relative">
  <b class="uppercase"><%= @room.name %>:</b>
  <%= @room.description %>
</div>
<div class="height-calc">
  <div class="pl-4 flex flex-col justify-end h-full">
    <div class="flex flex-col-reverse overflow-y-scroll h-full">
      <div id="<%= dom_id(@room) %>" class="pt-4 mr-4"
          data-controller="room"
          data-room-id-value=<%= @room.id %>>
        <%= render @room.messages %>
      </div>
    </div>
  </div>
</div>
<div class="bg-primary bg-opacity-90 w-full p-4" data-controller="message">
  <div class="flex">
    <%= text_field_tag(:comment, "",
      autocomplete: "off",
      placeholder: "Start a conversation",
      class: "rounded-full border p-3 flex-1 text-sm outline-none",
      data: { reflex: "change->Message#create", room_id: @room.id }) %>
  </div>
</div>
