<div class="text-center p-2 bg-gray-100 text-sm shadow relative">
  <b class="uppercase"><%= @room.name %>:</b>
  <%= @room.description %>
</div>
<div class="flex flex-col height-calc justify-end">
  <div class="px-4 flex flex-col justify-end h-full">
    <div class="flex flex-col-reverse overflow-y-scroll">
      <div id="<%= dom_id(@room) %>" class="mb-12"
          data-controller="room"
          data-room-id-value=<%= @room.id %>>
        <%= render @room.messages %>
      </div>
    </div>
  </div>
</div>
<div class="bg-primary bg-opacity-90 w-full p-4">
  <%= form_with model: [@room, Message.new] do  |f| %>
    <div class="flex">
      <%= f.text_field(
        :comment,
        autocomplete: "off",
        placeholder: "Start a conversation",
        class: "rounded-full border p-3 flex-1 text-sm outline-none") %>
    </div>
  <% end %>
</div>
