<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <%= tag(:meta, name: :cable_ready_id, content: current_user&.id) %>
  </head>

  <body class="mx-auto h-screen bg-beige">
    <header class="text-center p-2 bg-primary font-bold"><%= link_to "CHATTY", "/" %></header>
    <%= yield %>
  </body>
</html>
